@font-face {
  font-family: 'CreamySugar';
  src: local('CreamySugar-gxnGR'), url('creamysugar-gxngr.ttf') format('truetype');
}

@font-face {
  font-family: 'wigglye';
  src: local('wigglye'), url('wigglye.ttf') format('truetype');
}

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-family: 'CreamySugar', sans-serif;
  --font-family1: 'wigglye', sans-serif;
}

* {
  font-family: var(--font-family) !important;
  text-decoration: none !important;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  color: #333;
  background: #161B21;
  margin: 0;
  padding: 0;
}

/* ========== Header =========*/
.container-fluid {
  background-color: #010409;
  padding: 10px 0;
  max-height: 30vh;
  overflow: auto;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  justify-content: center;
  padding: 10px;
  animation: fadeIn 1s ease-in-out;
}

.btn {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  color: #fff;
  padding: 0 15px !important;
  width: fit-content;
  border: none;
  border-radius: 3px;
  font-size: 14px !important;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-family: var(--font-family1) !important;
}

.btn:hover {
  transform: scale(1.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ========== Videos ==========*/

.video-container {
  margin-bottom: 20px;
  border-radius: 8px;
  border: 3px solid #363B41;
  overflow: hidden;
}

.video-info {
  color: #CAD1D9;
  background-color: #21262C;
  padding: 15px;
  border-radius: 8px;
  border: 3px solid #363B41;
  margin-top: -10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ========== Notifications in crot.html =========°*/

.notification {
  background-color: #f44336;
  color: white;
  text-align: center;
  padding: 16px;
  position: fixed;
  top: 50%;
  left: 25%;
  z-index: 1;
  width: 50%;
  display: none;
  border-radius: 15px;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.input-group-append,
span {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}